<!DOCTYPE html>
<html>
    <head>
        <title>
            Fantasy Quiz
        </title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="../static/styles2.css">
        
    </head>
    <body>
    <header>
        <nav>
            <div class="logo">
                <img src="../static/MyWebsiteLogo2.jpg" alt="logo" width="40%">
                <span>Prakruthi's Website
                </span>
            </div>
          
        <ul>
        <div class="dropdown">
            <a href="/" ><button class="dropbtn">About Me</button></a>
        </div>
        
            <div class="dropdown">
               <button class="dropbtn">My Stuff</button>
               <div class="dropdowncontent">
                <a href="/art" >Art Gallery</a> 
                <a href="/craft" >Craft</a> 
                <a href="/recipes" >Recipes</a> 
               </div>
            </div>
            <div class="dropdown">
                <a href="/quiz" ><button class="dropbtn">Quizzes</button></a>
            </div>
            <div class="dropdown">
                <a href="/Register" ><button class="dropbtn">Register</button></a>
            </div>
            <div class="dropdown">
                <a href="/Login" ><button class="dropbtn">Login</button></a>
            </div>
            
        </ul>
        
        </nav>
    </header>
    <h1> Your score is {{ score1 }}!</h1>
            
            <h3> Correct Answers!</h3>
            <br>
            <br>
            <p>1. Which fantasy creature has the ability to heal?</p>
            - Elves
            <br>
            - Fairies 
            <br>
            - Unicorns
            <br>
            - All of them ✔
            <br>
            <br>
            <p>2. Which creature is most commonly seen with three heads?</p>
            - Dragons 
            <br>
            - Gryphons 
            <br>
            - Giants 
            <br>
            - Chimeras ✔
            <br>
            <br>
            <p>3. What can lure a unicorn out of hiding?</p>
            - Fresh fruit and carrots
            <br>
            - A newly appeared rainbow
            <br>
            - A person with a pure heart(usually a young maiden) ✔
            <br>
            - Another unicorn
            <br>
            <br>
            <p>4. Which item is put inside a wand to make it work?</p>
            - A special item dear to the owner 
            <br>
            - Something from a magical creature(hair, feather, etc.) ✔
            <br>
            - The blood of the owner
            <br>
            - A magical type of wood
            <br>
            <br>
            <p>5. What's the difference between an imp and a fairy?</p>
            - Imps don't have any magical abilities, but fairies do
            <br>
            - Fairies have wings, but imps do not
            <br>
            -  Imps are fairies that have been overcome with anger and jealousy
            <br>
            - All of the above ✔
            


    </body>
</html>