<!DOCTYPE html>
<html>
    <head>
        <title>
            Which Pet Are You Most Like? Quiz
        </title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="../static/styles2.css">
    </head>
    <body>
    <header>
        <nav>
            <div class="logo">
                <img src="../static/MyWebsiteLogo2.jpg" alt="logo" width="40%">
                <span>Prakruthi's Website
                </span>
            </div>
            
        <ul>
        <div class="dropdown">
            <a href="/" ><button class="dropbtn">About Me</button></a>
        </div>
        
            <div class="dropdown">
               <button class="dropbtn">My Stuff</button>
               <div class="dropdowncontent">
                <a href="/art" >Art Gallery</a> 
                <a href="/craft" >Craft</a> 
                <a href="/recipes" >Recipes</a> 
               </div>
            </div>
            <div class="dropdown">
                <a href="/quiz" ><button class="dropbtn">Quizzes</button></a>
            </div>
            <div class="dropdown">
                <a href="/Register" ><button class="dropbtn">Register</button></a>
            </div>
            <div class="dropdown">
                <a href="/Login" ><button class="dropbtn">Login</button></a>
            </div>
            
        </ul>
        
        </nav>
    </header>
    
        <form>
            <h1> Which Pet Are You Most Like? Quiz</h1>
            <p>4. Lastly, how much do you love your family out of 10?</p>
            <label for="q1">
                11/10!!
                <input type="radio" id="q1" name="question" />
            </label
            <br>
            <br>
            <label for="q2">
                10/10, I love them!
                <input type="radio" id="q2" name="question" />
            </label>
                <br>
                <br>
            <label for="q3">
                9/10, They're all awesome except my siblings!
                    <input type="radio" id="q3" name="question" />
            </label>
            <br>
            <br>
            <label for="q4">
                7/10... depends who it is, you know.
                    <input type="radio" id="q4" name="question" />
            </label>
            <br>
            <br>
            <button type="submit" id= "submit1" name= "button1" class= "button">
            <a href="/petresult"> Next --> </a>
            </button>
        </form>
    </body>
</html>