<!DOCTYPE html>
<html>
    <head>
        <title>
            Which Pet Are You Most Like? Quiz
        </title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="../static/styles2.css">
    </head>
    <body>
    <header>
        <nav>
            <div class="logo">
                <img src="../static/MyWebsiteLogo2.jpg" alt="logo" width="40%">
                <span>Prakruthi's Website
                </span>
            </div>
            
        <ul>
        <div class="dropdown">
            <a href="/" ><button class="dropbtn">About Me</button></a>
        </div>
        
            <div class="dropdown">
               <button class="dropbtn">My Stuff</button>
               <div class="dropdowncontent">
                <a href="/art" >Art Gallery</a> 
                <a href="/craft" >Craft</a> 
                <a href="/recipes" >Recipes</a> 
               </div>
            </div>
            <div class="dropdown">
                <a href="/quiz" ><button class="dropbtn">Quizzes</button></a>
            </div>
            <div class="dropdown">
                <a href="/Register" ><button class="dropbtn">Register</button></a>
            </div>
            <div class="dropdown">
                <a href="/Login" ><button class="dropbtn">Login</button></a>
            </div>
            
        </ul>
        
        </nav>
    </header>
    
            <h1> Results! </h1>
            <br>
            <br>
            <p>If you chose a lot of a's in the quiz, that means you are a lot like a dog!
            You like to have fun and be free, family is top priority for you, and you are always positive!🐶
            </p>
            <br>
            <p>________________________________________________________________________________________________</p>
            <br>
            <p> If you chose a lot of b's in the quiz, your personality is a rabbit!
            You are very calm and quiet, and you like to be close to your loved ones!🐰
            </p>
            <br>
            <p>________________________________________________________________________________________________</p>
            <br>
            <p> If you chose a lot of c's in the quiz, it is clear that you are most like a parakeet!
            You love to be noticed by others, and people call you bold and brave. You are never afraid to share your thoughts and ideas!🐦
            </p>
            <br>
            <p>________________________________________________________________________________________________</p>
            <br>
            <p> If you chose a lot of d's in the quiz, your personality is most positively a cat.
            You are the master of chill, and relaxing is your main hobby. You rarely get stressed about things, and food is a favorite!🐱
            </p>


    </body>
</html>