<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Center</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/styles2.css">
</head>
<body>
<header>
<nav>
<ul>
    <li><a href="/" >About me</a> </li>
    <li><a href="/art" >Art Gallery</a> </li>
    <li><a href="/craft" >Craft</a> </li>
    <li><a href="/recipes" >Recipes</a> </li>
    <li><a href= "/quiz" >Quizzes</a></li>
    <li><a href= "/Register" >Registration</a></li>
    <li><a href= "/Login" >Log in</a></li>
</ul>
</nav>
</header>
    </style>
</head>
<body>
    <h1> Congratulations, {{username}} ,you have registered successfully!</h1>
</body>
</html>