<!DOCTYPE html>
<html>
    <head>
        <title>
            My Quizzes
        </title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="../static/styles2.css">
        
    </head>
    <body>
    <header>
        <nav>
            <div class="logo">
                <img src="../static/MyWebsiteLogo2.jpg" alt="logo" width="40%">
                <span>Prakruthi's Website
                </span>
            </div>
          
        <ul>
        <div class="dropdown">
            <a href="/" ><button class="dropbtn">About Me</button></a>
        </div>
        
            <div class="dropdown">
               <button class="dropbtn">My Stuff</button>
               <div class="dropdowncontent">
                <a href="/art" >Art Gallery</a> 
                <a href="/craft" >Craft</a> 
                <a href="/recipes" >Recipes</a> 
               </div>
            </div>
            <div class="dropdown">
                <a href="/quiz" ><button class="dropbtn">Quizzes</button></a>
            </div>
            <div class="dropdown">
                <a href="/Register" ><button class="dropbtn">Register</button></a>
            </div>
            <div class="dropdown">
                <a href="/Login" ><button class="dropbtn">Login</button></a>
            </div>
            
        </ul>
        
        </nav>
    </header>

<br>
    <h1> Quizzes </h1>
    <br>
    <br>
    <h3> The 'you' Quiz </h3>
    <p> Have you ever wondered what kind of person you are?<br> Well, take this quiz and find out!</p>
    <br>
    <button type="submit" id= "submit1" name= "button1" class= "button">
        
        <a href="/youq1"> Start Quiz! </a>


        
        </button>
        <br>
    <br>
    <br>
    <h3> Gemstone quiz </h3>
    <p> This quiz is all about gemstones! <br>It has five questions, and it is quick and fun to do!</p>
    <br>
    <button type="submit" id= "submit1" name= "button1" class= "button">
      
        <a href="/gemq1"> Start Quiz! </a>
        </button>
    <br>
    <br>
    <br>
    <h3> Which Pet Are You Most Like? Quiz </h3>
    <p> Here in this personality quiz, you will find out which pet you are most like! <br>Try it out!</p>
    <br>
    <button type="submit" id= "submit1" name= "button1" class= "button">
 
        <a href="/petq1"> Start Quiz! </a>
        </button>
    <br>
    <br>
    <br>
    <h3> Fantasy Quiz </h3>
    <p> Do this quiz to see how much you know about all things fantasy! <br>Click start to begin!</p>
    <br>
    <button type="submit" id= "submit1" name= "button1" class= "button">
        <a href="/fantasyq1"> Start Quiz! </a>
        </button>

    </body>