<!DOCTYPE html>
<html>
    <head>
        <title>
            What's your personality? Quiz
        </title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="../static/styles2.css">
    </head>
    <body>
    <header>
    <nav>
    <ul>
        <li><a href="./AboutMe.html" >About me</a> </li>
        <li><a href="./MyArtCreations.html" >Art Gallery</a> </li>
        <li><a href="./MyCraftCreations.html" >Craft</a> </li>
        <li><a href="./GridRecipes.html" >Recipes</a> </li>
        <li><a href= "./startquiz.html" >Quizzes</a></li>
        <li><a href= "./Registration.html" >Registration</a></li>
        <li><a href= "./Login.html" >Log in</a></li>
    </ul>
    </nav>
    </header>
    
        <form>
            <h1>What's your personality? Quiz</h1>
            <p>2. What's your favorite kind of pet?</p>
            <label for="q1">
                a - Hmm... I like fish!
                <input type="radio" id="q1" name="question" />
            </label>
            <br>
            <br>
            <label for="q2">
                b - Everyone loves dogs!   
                <input type="radio" id="q2" name="question" />
            </label>
                <br>
                <br>
            <label for="q3">
                c - Bunnies are the sweetest things ever!
                    <input type="radio" id="q3" name="question" />
            </label>
            <br>
            <br>
            <label for="q4">
                d - I like the unusual ones, like spiders or lizards!
                    <input type="radio" id="q4" name="question" />
            </label>
            <br>
            <br>
            <button type="submit" id= "submit1" name= "button1" class= "button">
            <a href="youq3.html"> Next --> </a>
            </button>
        </form>
    </body>
</html>